body {
    margin: 0;
    font-family: Arial, sans-serif;
    position: relative;
  }
  .navbar-container.scrolled {
    background-color: #ffffff; /* Change this to the desired background color upon scroll */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Add a shadow on scroll */
    color: rgb(38, 38, 38) !important;
    position: sticky;
  }

  nav h5{
    color: #710404;
    font-family: "Tinos", serif;
  font-weight: 400;
  font-style: normal;
  }
  
  .dropdown-checkbox,
#menu-toggle {
  display: none;
}
.navbar-container{
    position: fixed;
    top: 0;
    width: 100%;
    /* background-color: var(--primary); */
    z-index: 15;
    transition: 0.3s;
}
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #0c0c0c;
    padding: 15px;
    width: 100%;
  }
  .navbar-container.scrolled{
    background-color: white !important;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--primary);
    z-index: 15;
  }

  .navbar-container.scrolled .CTA-button a{
    border-color:white ;
    color:rgb(7, 7, 7) !important;
  }

  .navbar-container.scrolled .logo img{
    filter: none;
  }
  .navbar .logo img{
    object-fit: contain;
    filter: brightness(1);
    padding-left: 10px;
    height: 70px;
  } 
  @media (max-width:991px) {
    .nav-links li a{
      color: white !important;
    }
  }
  .desk-none{
    display: none;
  }
  .mob-none{
    display: block;
  }
  @media screen and (max-width: 991px) {
    .desk-none{
      display: block;
    }
    .mob-none{
      display: none;
    }
    .navbar-container .nav-links li a {
      color:white !important;
    }
    .navbar-container.scrolled .nav-links li a {
      color:white !important;
    }
    .navbar-container.scrolled .CTA-button a{
      border-color: var(--primary) !important;
      color: var(--primary) !important;
    }
    .navbar-container.scrolled .logo img{
      filter: none;
    }
  }
  
  .nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .nav-links ul{
    padding: 0px;
  }
  
  .nav-links li {
    margin-right: 10px;
    padding: 10px 10px;
    position: relative;
    list-style: none;
  }
  .nav-links .dropdown-content li{
    margin-right: 0px;
    padding: 0px;
  }
  
  .nav-links li a {
    color: #212121;
    text-decoration: none;
    transition: color 0.3s ease;
    white-space: nowrap;
  }
  
  .nav-links li a:hover {
    color: #ffcc00;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #444;
    min-width: 100px;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: #fff;
    padding: 10px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s ease;
  }
  
  .dropdown-content a:hover {
    background-color: #555;
  }
  
  .dropdown-checkbox {
    display: none;
  }
  
  .dropdown-checkbox:checked ~ .dropdown-content {
    display: block;
  }
  
  .menu-icon {
    display: none;
  }
  
  @media screen and (max-width: 1240px) {
    .nav-links {
      display: none;
      flex-direction: column;
      text-align: left;
      width: 100%;
      position: absolute;
      top: 120%;
      left: 0;
      background-color: rgb(34, 34, 34);
      z-index: 1;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      color: white !important;
      padding: 25px;
    }
  
    .nav-links li {
      margin-top: 0;
    }
  
    .nav-links li a {
      margin: 15px 0;
      color: white;
    }
    .navbar-container.scrolled .menu-icon{
      border-color: var(--primary) !important;
      color: var(--primary) !important;
    }
    .menu-icon {
      display: block;
      cursor: pointer;
      order: 1;
      padding: 5px 15px;
      margin-right: 15px;
      border: 1px solid white;
      border-radius: 3px;
    }
  
    #menu-toggle:checked ~ .nav-links {
      display: flex;
    }
  
    .dropdown-checkbox:checked ~ .dropdown-content {
      display: block;
      position: static;
      width: 100%;
      margin-top: 5px;
    }
    .navbar{
      padding: 0px 15px !important;
    }
    .navbar .logo img{
      height: 60px;
      /* height: 80px; */
    }
  }